.month {
  width: 200px;
  display: inline-table;
  padding: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  padding: 5px;
  display: inline-block;
}